body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}

header {
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  height: 80px;
}

#map {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
  overflow: hidden;
}

#side-drawer {
  position: absolute;
  z-index: 5;
  max-width: 100%;
  width: 325px;
  height: calc(100vh - 100px);
}
