body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
}

header {
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#side-drawer {
  z-index: 5;
  max-width: 100%;
  width: 300px;
}
