body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

header {
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  height: 80px;
  vertical-align: middle;
  flex: 100%;
}

#header-text {
  margin: auto;
  line-height: 80px;
  display: inline-block;
}

#hamburger {
  display: inline-block;
  margin: 0 20px;
  background: transparent;
  border: none;
  color: white;
}

#map {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
  overflow: hidden;
}

#side-drawer {
  position: absolute;
  z-index: 5;
  max-width: 100%;
  width: 325px;
  height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.5);
}

.no-display {
  display: none;
}

.filter {
  width: 90%;
  padding: 10px;
  margin: 10px;
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 5px;
  background-color: #000000;
  border-radius: 2px;
  color: #ffffff;
}

@media (max-width: 400px) {
  #header-text {
    font-size: 1.5em;
  }

  #hamburger {
    padding: 12px;
    margin: 0;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  #header-text {
    font-size: 2em;
  }

  #hamburger {
    margin: 0;
    padding: 21px;
  }
}
